body{
	background-color: grey;
}

.container {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-content: center;
	padding: 5% 15%;
}

#app {
	font-size: 5000%;
}

#chiffretap {
	font-size: 1000%;
}

#points {
	font-size: 30px;
}